@import "./mixins.scss";

html, body, #root {
    height: 100%;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    background-color: $bg-color-light;
}

h1 {
    @include h1;
}

input {
    &[type='text'],
    &[type='number'] {
        @include media(mobile) {
            font-size: 14px;
        }
        width: 100%;
        padding: 10px 15px;
        font-size: 16px;
        background-color: $bg-color-light;
        border-radius: 4px;
        border: 2px solid transparent;
        box-sizing: border-box;
        @include smooth-transition(border);

        &:focus, &:hover {
            outline-color: $primary-color;
            border: 2px solid $primary-color;
        }
    }
}

button {
    &[disabled] {
        cursor: not-allowed!important;
        background-color: $disabled-background!important;
        color: $disabled-color!important;
        border-color: transparent!important;
      }
}

