$primary-color: #8e8cee;
$primary-color-dark: #6160a2;
$bg-color-light: #f1f1f1;
$bg-color-dark: #e1e1e1;
$white: #fff;
$black: #000;
$alert-error-bg: #fcdcd6;
$alert-error-text: #611a15;
$disabled-background: #cccccc;
$disabled-color: #666666; 
$h1-color: #212121;
$primary-color-300: #8e8cee4d;
$phone-breakpoint: 640px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;